openapi: 3.1.1
info:
  title: FPS Service Time Accounting API
  version: 1.0.0
  description: >
    REST API системы расчёта служебного времени сотрудников ФПС России.
    Контракт сгруппирован по модулям (bounded contexts): LegalRules, Personnel,
    ServiceCalendar, Scheduling, TimeAccounting, Compensation, RestBalance,
    LeaveManagement. Конвенции версионирования/авторизации/ошибок — см.
    сопроводительный документ API_Conventions_FPS.md.
servers:
  - url: https://api.fps-timekeeping.gov.ru/api/v1
    description: Продуктивный контур (единый модульный монолит, см. Architecture)

security:
  - bearerAuth: []

tags:
  - name: LegalRules
  - name: Personnel
  - name: ServiceCalendar
  - name: Scheduling
  - name: TimeAccounting
  - name: Compensation
  - name: RestBalance
  - name: LeaveManagement

# =====================================================================
paths:

  # ---------------------------------------------------------------- LegalRules
  /legal-rules/documents:
    post:
      tags: [LegalRules]
      summary: Зарегистрировать нормативный документ
      security: [{ bearerAuth: [legal_officer] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateNormativeDocumentRequest' }
      responses:
        '201':
          description: Документ зарегистрирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NormativeDocument' }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /legal-rules/documents/{documentId}:
    get:
      tags: [LegalRules]
      summary: Получить нормативный документ
      parameters:
        - { $ref: '#/components/parameters/DocumentId' }
      responses:
        '200':
          description: Документ найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NormativeDocument' }
        '404': { $ref: '#/components/responses/NotFound' }

  /legal-rules/documents/{documentId}/nodes:
    post:
      tags: [LegalRules]
      summary: Добавить узел документа (глава/статья/пункт)
      security: [{ bearerAuth: [legal_officer] }]
      parameters:
        - { $ref: '#/components/parameters/DocumentId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDocumentNodeRequest' }
      responses:
        '201':
          description: Узел добавлен
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DocumentNode' }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '404': { $ref: '#/components/responses/NotFound' }

  /legal-rules/rules:
    post:
      tags: [LegalRules]
      summary: Создать устойчивую идентичность правила
      security: [{ bearerAuth: [legal_officer] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRuleRequest' }
      responses:
        '201':
          description: Правило создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Rule' }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '409': { $ref: '#/components/responses/Conflict' }
    get:
      tags: [LegalRules]
      summary: Список правил
      parameters:
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/PageSize' }
        - name: category
          in: query
          schema: { $ref: '#/components/schemas/RuleCategory' }
      responses:
        '200':
          description: Список правил
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RuleListEnvelope' }

  /legal-rules/rules/{ruleId}/versions:
    post:
      tags: [LegalRules]
      summary: Создать черновик версии правила
      security: [{ bearerAuth: [legal_officer] }]
      parameters:
        - { $ref: '#/components/parameters/RuleId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRuleVersionRequest' }
      responses:
        '201':
          description: Черновик версии создан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RuleVersion' }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '404': { $ref: '#/components/responses/NotFound' }

  /legal-rules/rule-versions/{versionId}/dry-run:
    post:
      tags: [LegalRules]
      summary: Проверить черновик версии на исторических фактах (песочница)
      security: [{ bearerAuth: [legal_officer] }]
      parameters:
        - { $ref: '#/components/parameters/VersionId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DryRunRequest' }
      responses:
        '200':
          description: Результат сравнения draft-версии с текущей
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DryRunResult' }
        '404': { $ref: '#/components/responses/NotFound' }

  /legal-rules/rule-versions/{versionId}/publish:
    post:
      tags: [LegalRules]
      summary: Опубликовать версию правила
      security: [{ bearerAuth: [legal_officer] }]
      parameters:
        - { $ref: '#/components/parameters/VersionId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PublishRuleVersionRequest' }
      responses:
        '200':
          description: Версия опубликована, предыдущая — переведена в superseded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RuleVersion' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/DomainInvariantViolation' }
        '423': { $ref: '#/components/responses/ImmutableResource' }

  /legal-rules/rules/{ruleId}/effective-version:
    get:
      tags: [LegalRules]
      summary: Получить действующую версию правила на дату для заданного scope
      parameters:
        - { $ref: '#/components/parameters/RuleId' }
        - name: asOf
          in: query
          required: true
          schema: { type: string, format: date }
        - name: scope
          in: query
          required: true
          description: JSON-строка scope, например {"legalBase":"fps_service"}
          schema: { type: string }
      responses:
        '200':
          description: Найдена ровно одна применимая версия
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RuleVersion' }
        '404':
          description: Нет применимой версии правила на дату/scope
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  # ---------------------------------------------------------------- Personnel
  /personnel/units:
    post:
      tags: [Personnel]
      summary: Создать подразделение
      security: [{ bearerAuth: [hr_specialist, system_admin] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateUnitRequest' }
      responses:
        '201':
          description: Подразделение создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Unit' }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '409': { $ref: '#/components/responses/Conflict' }

  /personnel/units/{unitId}:
    get:
      tags: [Personnel]
      summary: Получить подразделение
      parameters: [{ $ref: '#/components/parameters/UnitId' }]
      responses:
        '200':
          description: Подразделение найдено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Unit' }
        '404': { $ref: '#/components/responses/NotFound' }

  /personnel/positions:
    post:
      tags: [Personnel]
      summary: Создать должность
      security: [{ bearerAuth: [hr_specialist] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePositionRequest' }
      responses:
        '201':
          description: Должность создана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Position' }
        '400': { $ref: '#/components/responses/ValidationFailed' }

  /personnel/employees:
    post:
      tags: [Personnel]
      summary: Зарегистрировать сотрудника
      security: [{ bearerAuth: [hr_specialist] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateEmployeeRequest' }
      responses:
        '201':
          description: Сотрудник зарегистрирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Employee' }
        '400': { $ref: '#/components/responses/ValidationFailed' }
        '409': { $ref: '#/components/responses/Conflict' }
    get:
      tags: [Personnel]
      summary: Список сотрудников подразделения
      parameters:
        - name: unitId
          in: query
          required: false
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: Список сотрудников
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmployeeListEnvelope' }

  /personnel/employees/{employeeId}:
    get:
      tags: [Personnel]
      summary: Получить карточку сотрудника
      parameters: [{ $ref: '#/components/parameters/EmployeeId' }]
      responses:
        '200':
          description: Сотрудник найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Employee' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /personnel/employees/{employeeId}/status:
    patch:
      tags: [Personnel]
      summary: Изменить статус занятости сотрудника
      security: [{ bearerAuth: [hr_specialist, unit_commander] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangeEmploymentStatusRequest' }
      responses:
        '200':
          description: Статус изменён
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Employee' }
        '422': { $ref: '#/components/responses/DomainInvariantViolation' }

  /personnel/employees/{employeeId}/service-record-entries:
    post:
      tags: [Personnel]
      summary: Добавить запись в историю прохождения службы
      security: [{ bearerAuth: [hr_specialist] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateServiceRecordEntryRequest' }
      responses:
        '201':
          description: Запись добавлена (append-only)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceRecordEntry' }
    get:
      tags: [Personnel]
      summary: История прохождения службы сотрудника
      parameters: [{ $ref: '#/components/parameters/EmployeeId' }]
      responses:
        '200':
          description: Список записей истории
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ServiceRecordEntry' }

  # ---------------------------------------------------------------- ServiceCalendar
  /service-calendar/years:
    post:
      tags: [ServiceCalendar]
      summary: Создать календарный год (черновик)
      security: [{ bearerAuth: [system_admin] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCalendarYearRequest' }
      responses:
        '201':
          description: Год создан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarYear' }

  /service-calendar/years/{year}:
    get:
      tags: [ServiceCalendar]
      summary: Получить календарь года
      parameters:
        - name: year
          in: path
          required: true
          schema: { type: integer, minimum: 2000, maximum: 2100 }
      responses:
        '200':
          description: Календарь найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarYear' }
        '404': { $ref: '#/components/responses/NotFound' }

  /service-calendar/years/{year}/days:
    post:
      tags: [ServiceCalendar]
      summary: Массово задать типы дней года
      security: [{ bearerAuth: [system_admin] }]
      parameters:
        - name: year
          in: path
          required: true
          schema: { type: integer }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetCalendarDaysRequest' }
      responses:
        '200':
          description: Дни установлены
        '423': { $ref: '#/components/responses/ImmutableResource' }

  /service-calendar/years/{year}/publish:
    post:
      tags: [ServiceCalendar]
      summary: Опубликовать календарь года (делает его неизменяемым)
      security: [{ bearerAuth: [system_admin] }]
      parameters:
        - name: year
          in: path
          required: true
          schema: { type: integer }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '200':
          description: Календарь опубликован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CalendarYear' }

  # ---------------------------------------------------------------- Scheduling
  /scheduling/duty-schedules:
    post:
      tags: [Scheduling]
      summary: Создать проект графика дежурств
      security: [{ bearerAuth: [timekeeper] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDutyScheduleRequest' }
      responses:
        '201':
          description: График создан (draft)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DutySchedule' }
        '409': { $ref: '#/components/responses/Conflict' }

  /scheduling/duty-schedules/{scheduleId}:
    get:
      tags: [Scheduling]
      summary: Получить график
      parameters: [{ $ref: '#/components/parameters/ScheduleId' }]
      responses:
        '200':
          description: График найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DutySchedule' }
        '404': { $ref: '#/components/responses/NotFound' }

  /scheduling/duty-schedules/{scheduleId}/shifts:
    post:
      tags: [Scheduling]
      summary: Добавить плановую смену в график
      security: [{ bearerAuth: [timekeeper] }]
      parameters:
        - { $ref: '#/components/parameters/ScheduleId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePlannedShiftRequest' }
      responses:
        '201':
          description: Смена добавлена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlannedShift' }
        '409':
          description: Пересечение смен сотрудника (EXCLUDE-инвариант)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/DomainInvariantViolation' }
        '423': { $ref: '#/components/responses/ImmutableResource' }

  /scheduling/duty-schedules/{scheduleId}/approve:
    post:
      tags: [Scheduling]
      summary: Утвердить график
      security: [{ bearerAuth: [unit_commander] }]
      parameters:
        - { $ref: '#/components/parameters/ScheduleId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApproveScheduleRequest' }
      responses:
        '200':
          description: График утверждён (неизменяем)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DutySchedule' }
        '422': { $ref: '#/components/responses/DomainInvariantViolation' }

  /scheduling/duty-schedules/{scheduleId}/revise:
    post:
      tags: [Scheduling]
      summary: Пересмотреть утверждённый график (создаёт новую версию)
      security: [{ bearerAuth: [unit_commander] }]
      parameters:
        - { $ref: '#/components/parameters/ScheduleId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReviseScheduleRequest' }
      responses:
        '201':
          description: Новая версия графика создана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DutySchedule' }

  /scheduling/units/{unitId}/duty-schedules:
    get:
      tags: [Scheduling]
      summary: Графики подразделения за период
      parameters:
        - { $ref: '#/components/parameters/UnitId' }
        - name: periodStart
          in: query
          required: true
          schema: { type: string, format: date }
        - name: periodEnd
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Список графиков
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/DutySchedule' }

  # ---------------------------------------------------------------- TimeAccounting
  /time-accounting/timesheets:
    post:
      tags: [TimeAccounting]
      summary: Открыть табель сотрудника на учётный период
      security: [{ bearerAuth: [timekeeper] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTimesheetRequest' }
      responses:
        '201':
          description: Табель открыт
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timesheet' }
        '409': { $ref: '#/components/responses/Conflict' }

  /time-accounting/timesheets/{timesheetId}:
    get:
      tags: [TimeAccounting]
      summary: Получить табель (Write-модель, для табельщика/руководителя)
      parameters: [{ $ref: '#/components/parameters/TimesheetId' }]
      responses:
        '200':
          description: Табель найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timesheet' }
        '404': { $ref: '#/components/responses/NotFound' }

  /time-accounting/timesheets/{timesheetId}/events:
    post:
      tags: [TimeAccounting]
      summary: Зарегистрировать факт (смена/больничный/отстранение/сверхнорма/командировка)
      security: [{ bearerAuth: [shift_commander, timekeeper] }]
      parameters:
        - { $ref: '#/components/parameters/TimesheetId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ServiceTimeEventRequest' }
      responses:
        '201':
          description: Факт зарегистрирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceTimeEvent' }
        '409':
          description: Пересечение с уже существующим фактом табеля
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: >
            Нарушение бизнес-инварианта (например, overtime_attraction без
            overtimeOrderId, либо суточный лимит 24ч на сотрудника превышен)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '423': { $ref: '#/components/responses/ImmutableResource' }

  /time-accounting/timesheets/{timesheetId}/corrections:
    post:
      tags: [TimeAccounting]
      summary: Внести исправление ранее зарегистрированного факта (append-only)
      security: [{ bearerAuth: [timekeeper, unit_commander] }]
      parameters:
        - { $ref: '#/components/parameters/TimesheetId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCorrectionEntryRequest' }
      responses:
        '201':
          description: Исправление зафиксировано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CorrectionEntry' }

  /time-accounting/timesheets/{timesheetId}/approve:
    post:
      tags: [TimeAccounting]
      summary: Утвердить табель периода
      security: [{ bearerAuth: [unit_commander] }]
      parameters:
        - { $ref: '#/components/parameters/TimesheetId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '200':
          description: Табель утверждён, HoursBreakdown зафиксирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timesheet' }
        '423': { $ref: '#/components/responses/ImmutableResource' }

  /time-accounting/timesheets/{timesheetId}/reopen:
    post:
      tags: [TimeAccounting]
      summary: Открыть повторно утверждённый табель (для исправления)
      security: [{ bearerAuth: [unit_commander, legal_officer] }]
      parameters:
        - { $ref: '#/components/parameters/TimesheetId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReopenTimesheetRequest' }
      responses:
        '200':
          description: Табель переоткрыт
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Timesheet' }

  /time-accounting/overtime-orders:
    post:
      tags: [TimeAccounting]
      summary: Зарегистрировать приказ-основание привлечения сверх нормы
      security: [{ bearerAuth: [unit_commander] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateOvertimeOrderRequest' }
      responses:
        '201':
          description: Приказ зарегистрирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OvertimeOrder' }
        '409': { $ref: '#/components/responses/Conflict' }

  /time-accounting/employees/{employeeId}/timesheet-summary:
    get:
      tags: [TimeAccounting]
      summary: Сводка табеля сотрудника за период (CQRS Query, read-проекция)
      security: [{ bearerAuth: [employee, unit_commander, timekeeper] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - name: periodStart
          in: query
          required: true
          schema: { type: string, format: date }
        - name: periodEnd
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Сводка найдена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HoursBreakdown' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /time-accounting/employees/{employeeId}/hours-breakdown-history:
    get:
      tags: [TimeAccounting]
      summary: История сводок сотрудника по периодам
      security: [{ bearerAuth: [employee, unit_commander] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: История сводок
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/HoursBreakdown' }

  /time-accounting/units/{unitId}/timesheet-dashboard:
    get:
      tags: [TimeAccounting]
      summary: Сводный дашборд по подразделению (CQRS Query, агрегация)
      security: [{ bearerAuth: [unit_commander, regional_commander] }]
      parameters:
        - { $ref: '#/components/parameters/UnitId' }
        - name: periodStart
          in: query
          required: true
          schema: { type: string, format: date }
        - name: periodEnd
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Агрегированные показатели подразделения
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnitTimesheetDashboard' }

  # ---------------------------------------------------------------- Compensation
  /compensation/cases:
    post:
      tags: [Compensation]
      summary: Создать дело о компенсации на основании утверждённого табеля
      security: [{ bearerAuth: [unit_commander, finance_specialist] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCompensationCaseRequest' }
      responses:
        '201':
          description: Дело создано (draft)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompensationCase' }
        '422':
          description: Табель ещё не утверждён (инвариант 7.1.1)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409': { $ref: '#/components/responses/Conflict' }

  /compensation/cases/{caseId}:
    get:
      tags: [Compensation]
      summary: Получить дело о компенсации
      parameters: [{ $ref: '#/components/parameters/CaseId' }]
      responses:
        '200':
          description: Дело найдено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompensationCase' }
        '404': { $ref: '#/components/responses/NotFound' }

  /compensation/cases/{caseId}/elections:
    post:
      tags: [Compensation]
      summary: Зафиксировать выбор формы компенсации сотрудником
      security: [{ bearerAuth: [employee] }]
      parameters:
        - { $ref: '#/components/parameters/CaseId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecordEmployeeElectionRequest' }
      responses:
        '200':
          description: Выбор зафиксирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompensationCase' }
        '423': { $ref: '#/components/responses/ImmutableResource' }

  /compensation/cases/{caseId}/finalize:
    post:
      tags: [Compensation]
      summary: Финализировать дело о компенсации
      security: [{ bearerAuth: [unit_commander, finance_specialist] }]
      parameters:
        - { $ref: '#/components/parameters/CaseId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '200':
          description: Дело финализировано (неизменяемо далее)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompensationCase' }
        '422': { $ref: '#/components/responses/DomainInvariantViolation' }

  /compensation/employees/{employeeId}/history:
    get:
      tags: [Compensation]
      summary: История компенсаций сотрудника
      security: [{ bearerAuth: [employee, finance_specialist] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: История найдена
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CompensationCase' }

  /compensation/regions/{regionUnitId}/forecast:
    get:
      tags: [Compensation]
      summary: Региональный прогноз затрат на компенсации (CQRS Query, аналитика)
      security: [{ bearerAuth: [regional_commander, finance_specialist] }]
      parameters:
        - name: regionUnitId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: periodStart
          in: query
          required: true
          schema: { type: string, format: date }
        - name: periodEnd
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Прогноз рассчитан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegionalCompensationForecast' }

  # ---------------------------------------------------------------- RestBalance
  /rest-balance/employees/{employeeId}/balance:
    get:
      tags: [RestBalance]
      summary: Текущий остаток дополнительных суток отдыха
      security: [{ bearerAuth: [employee, unit_commander] }]
      parameters: [{ $ref: '#/components/parameters/EmployeeId' }]
      responses:
        '200':
          description: Остаток найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RestBalance' }

  /rest-balance/employees/{employeeId}/movements:
    get:
      tags: [RestBalance]
      summary: Журнал движений баланса ДДО
      security: [{ bearerAuth: [employee, unit_commander, auditor] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: Список движений
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BalanceMovement' }

  /rest-balance/employees/{employeeId}/consumption-requests:
    post:
      tags: [RestBalance]
      summary: Подать рапорт на использование дополнительных суток отдыха
      security: [{ bearerAuth: [employee] }]
      parameters:
        - { $ref: '#/components/parameters/EmployeeId' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateConsumptionRequestRequest' }
      responses:
        '201':
          description: Списание проведено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BalanceMovement' }
        '422':
          description: Остаток недостаточен (инвариант 8.1.1)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  # ---------------------------------------------------------------- LeaveManagement
  /leave/grants:
    post:
      tags: [LeaveManagement]
      summary: Предоставить отпуск сотруднику
      security: [{ bearerAuth: [hr_specialist] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLeaveGrantRequest' }
      responses:
        '201':
          description: Отпуск предоставлен
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LeaveGrant' }
        '409':
          description: Пересечение с существующим отпуском сотрудника
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422':
          description: >
            Нарушение инварианта (например, повторная выдача
            personal_circumstances_20y — частичный уникальный индекс)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /leave/employees/{employeeId}/grants:
    get:
      tags: [LeaveManagement]
      summary: Список отпусков сотрудника
      security: [{ bearerAuth: [employee, hr_specialist] }]
      parameters: [{ $ref: '#/components/parameters/EmployeeId' }]
      responses:
        '200':
          description: Список найден
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/LeaveGrant' }

  /leave/grants/{grantId}:
    get:
      tags: [LeaveManagement]
      summary: Получить конкретный отпуск
      parameters:
        - name: grantId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Отпуск найден
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LeaveGrant' }
        '404': { $ref: '#/components/responses/NotFound' }

  /leave/grants/{grantId}/recall:
    post:
      tags: [LeaveManagement]
      summary: Отозвать сотрудника из отпуска
      security: [{ bearerAuth: [unit_commander, hr_specialist] }]
      parameters:
        - name: grantId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecallFromLeaveRequest' }
      responses:
        '201':
          description: Отзыв зафиксирован
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecallEvent' }

# =====================================================================
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT содержит claims sub, roles[], unit_scope[]. Проверка на уровне
        конкретной записи (row-level) выполняется Application-слоем, а не
        выражается в OpenAPI security — см. API_Conventions_FPS.md, разд. 2.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
      description: Обязателен для всех операций, изменяющих состояние.
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      name: pageSize
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    EmployeeId:
      name: employeeId
      in: path
      required: true
      schema: { type: string, format: uuid }
    UnitId:
      name: unitId
      in: path
      required: true
      schema: { type: string, format: uuid }
    RuleId:
      name: ruleId
      in: path
      required: true
      schema: { type: string, format: uuid }
    VersionId:
      name: versionId
      in: path
      required: true
      schema: { type: string, format: uuid }
    DocumentId:
      name: documentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ScheduleId:
      name: scheduleId
      in: path
      required: true
      schema: { type: string, format: uuid }
    TimesheetId:
      name: timesheetId
      in: path
      required: true
      schema: { type: string, format: uuid }
    CaseId:
      name: caseId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    ValidationFailed:
      description: Форма запроса не проходит валидацию (400)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Unauthenticated:
      description: Отсутствует/просрочен токен (401)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Роль/scope не даёт доступа к ресурсу (403)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Ресурс не найден (404)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Conflict:
      description: Нарушение уникальности/пересечения (409)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    DomainInvariantViolation:
      description: Нарушение бизнес-инварианта домена (422)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    ImmutableResource:
      description: Попытка изменить неизменяемый ресурс (423)
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  schemas:

    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        traceId: { type: string }

    # ---------- LegalRules DTOs
    DocumentType: { type: string, enum: [federal_law, government_decree, departmental_order] }
    RuleCategory:
      type: string
      enum:
        - norm_calculation
        - night_hours_classification
        - holiday_hours_classification
        - overtime_classification
        - conflict_resolution
        - compensation_coefficient
        - leave_entitlement
        - minimum_rest_period
    RuleStatus: { type: string, enum: [draft, published, superseded] }

    CreateNormativeDocumentRequest:
      type: object
      required: [docType, regNumber, adoptedDate, title, validFrom]
      properties:
        docType: { $ref: '#/components/schemas/DocumentType' }
        regNumber: { type: string, minLength: 1, maxLength: 50 }
        adoptedDate: { type: string, format: date }
        title: { type: string, minLength: 1, maxLength: 500 }
        validFrom: { type: string, format: date }
        validTo: { type: [string, 'null'], format: date }

    NormativeDocument:
      allOf:
        - $ref: '#/components/schemas/CreateNormativeDocumentRequest'
        - type: object
          required: [id]
          properties:
            id: { type: string, format: uuid }

    CreateDocumentNodeRequest:
      type: object
      required: [nodeType, ordinalNumber]
      properties:
        parentNodeId: { type: [string, 'null'], format: uuid }
        nodeType: { type: string, enum: [chapter, article, paragraph] }
        ordinalNumber: { type: string, maxLength: 20 }
        title: { type: string, maxLength: 500 }
        textContent: { type: string, maxLength: 5000 }

    DocumentNode:
      allOf:
        - $ref: '#/components/schemas/CreateDocumentNodeRequest'
        - type: object
          required: [id, documentId]
          properties:
            id: { type: string, format: uuid }
            documentId: { type: string, format: uuid }

    CreateRuleRequest:
      type: object
      required: [code, category, displayName]
      properties:
        code: { type: string, pattern: '^[A-Z0-9_.]+$', maxLength: 100 }
        category: { $ref: '#/components/schemas/RuleCategory' }
        displayName: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 2000 }

    Rule:
      allOf:
        - $ref: '#/components/schemas/CreateRuleRequest'
        - type: object
          required: [id]
          properties:
            id: { type: string, format: uuid }

    RuleListEnvelope:
      type: object
      required: [items, page, pageSize, totalCount]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Rule' } }
        page: { type: integer }
        pageSize: { type: integer }
        totalCount: { type: integer }

    CreateRuleVersionRequest:
      type: object
      required: [scope, legalBasisNodeId, formulaDefinition, actions, validFrom]
      properties:
        scope: { type: object, description: "Конкретные значения измерений scope_schema правила" }
        legalBasisNodeId: { type: string, format: uuid }
        formulaDefinition:
          description: Дерево Formula (см. документ Rule Engine)
          type: object
        actions:
          type: array
          minItems: 1
          items: { type: object, description: "Структура Action, см. Rule Engine" }
        validFrom: { type: string, format: date }
        validTo: { type: [string, 'null'], format: date }

    RuleVersion:
      allOf:
        - $ref: '#/components/schemas/CreateRuleVersionRequest'
        - type: object
          required: [id, ruleId, versionNo, status]
          properties:
            id: { type: string, format: uuid }
            ruleId: { type: string, format: uuid }
            versionNo: { type: integer }
            status: { $ref: '#/components/schemas/RuleStatus' }
            publishedAt: { type: [string, 'null'], format: date-time }
            publishedBy: { type: [string, 'null'], format: uuid }

    DryRunRequest:
      type: object
      required: [historicalPeriodStart, historicalPeriodEnd, sampleSize]
      properties:
        historicalPeriodStart: { type: string, format: date }
        historicalPeriodEnd: { type: string, format: date }
        sampleSize: { type: integer, minimum: 1, maximum: 10000 }

    DryRunResult:
      type: object
      properties:
        comparedEntities: { type: integer }
        differencesFound: { type: integer }
        sampleDifferences:
          type: array
          items:
            type: object
            properties:
              employeeId: { type: string, format: uuid }
              oldValue: { type: number }
              newValue: { type: number }

    PublishRuleVersionRequest:
      type: object
      required: [changeReason]
      properties:
        changeReason: { type: string, minLength: 10, maxLength: 2000 }

    # ---------- Personnel DTOs
    ServiceConditionCategory: { type: string, enum: [normal, hazardous_or_dangerous, pedagogical] }
    EmploymentStatus: { type: string, enum: [active, on_leave, sick, suspended, dismissed] }
    RegimeType: { type: string, enum: [five_day_week, shift_schedule, twenty_four_hour_duty, unstandardized] }
    PositionCategory: { type: string, enum: [operational, administrative, pedagogical, hazardous_technical] }

    CreateUnitRequest:
      type: object
      required: [code, name]
      properties:
        code: { type: string, maxLength: 50 }
        name: { type: string, maxLength: 300 }
        parentUnitId: { type: [string, 'null'], format: uuid }

    Unit:
      allOf:
        - $ref: '#/components/schemas/CreateUnitRequest'
        - type: object
          required: [id, hierarchyPath]
          properties:
            id: { type: string, format: uuid }
            hierarchyPath: { type: string }

    CreatePositionRequest:
      type: object
      required: [code, title, category, defaultRegimeType]
      properties:
        code: { type: string, maxLength: 50 }
        title: { type: string, maxLength: 300 }
        category: { $ref: '#/components/schemas/PositionCategory' }
        defaultRegimeType: { $ref: '#/components/schemas/RegimeType' }

    Position:
      allOf:
        - $ref: '#/components/schemas/CreatePositionRequest'
        - type: object
          required: [id]
          properties: { id: { type: string, format: uuid } }

    CreateEmployeeRequest:
      type: object
      required: [personnelNumber, fullName, rank, currentPositionId, currentUnitId, hiredAt, legalBase]
      properties:
        personnelNumber: { type: string, pattern: '^[0-9]{6,10}$' }
        fullName: { type: string, maxLength: 300 }
        rank: { type: string, maxLength: 100 }
        legalBase: { type: string, enum: [fps_service, labor_code] }
        serviceConditionCategory: { $ref: '#/components/schemas/ServiceConditionCategory' }
        currentPositionId: { type: string, format: uuid }
        currentUnitId: { type: string, format: uuid }
        hiredAt: { type: string, format: date }

    Employee:
      allOf:
        - $ref: '#/components/schemas/CreateEmployeeRequest'
        - type: object
          required: [id, employmentStatus]
          properties:
            id: { type: string, format: uuid }
            employmentStatus: { $ref: '#/components/schemas/EmploymentStatus' }
            dismissedAt: { type: [string, 'null'], format: date }

    EmployeeListEnvelope:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Employee' } }
        page: { type: integer }
        pageSize: { type: integer }
        totalCount: { type: integer }

    ChangeEmploymentStatusRequest:
      type: object
      required: [newStatus, effectiveDate, reason]
      properties:
        newStatus: { $ref: '#/components/schemas/EmploymentStatus' }
        effectiveDate: { type: string, format: date }
        reason: { type: string, maxLength: 1000 }

    CreateServiceRecordEntryRequest:
      type: object
      required: [eventType, effectiveDate]
      properties:
        eventType: { type: string, enum: [assignment, transfer, rank_change, dismissal] }
        effectiveDate: { type: string, format: date }
        positionId: { type: [string, 'null'], format: uuid }
        unitId: { type: [string, 'null'], format: uuid }
        rank: { type: [string, 'null'] }

    ServiceRecordEntry:
      allOf:
        - $ref: '#/components/schemas/CreateServiceRecordEntryRequest'
        - type: object
          required: [id, employeeId, recordedAt]
          properties:
            id: { type: string, format: uuid }
            employeeId: { type: string, format: uuid }
            recordedAt: { type: string, format: date-time }

    # ---------- ServiceCalendar DTOs
    DayType: { type: string, enum: [working, weekend, holiday, pre_holiday] }

    CreateCalendarYearRequest:
      type: object
      required: [year]
      properties: { year: { type: integer, minimum: 2000, maximum: 2100 } }

    CalendarYear:
      type: object
      required: [id, year, published]
      properties:
        id: { type: string, format: uuid }
        year: { type: integer }
        published: { type: boolean }

    SetCalendarDaysRequest:
      type: object
      required: [days]
      properties:
        days:
          type: array
          minItems: 1
          maxItems: 366
          items:
            type: object
            required: [day, dayType]
            properties:
              day: { type: string, format: date }
              dayType: { $ref: '#/components/schemas/DayType' }

    # ---------- Scheduling DTOs
    AccountingPeriodType: { type: string, enum: [month, quarter, year] }
    ScheduleStatus: { type: string, enum: [draft, approved, closed] }
    DutyType: { type: string, enum: [five_day_week, shift, twenty_four_hour_duty] }

    CreateDutyScheduleRequest:
      type: object
      required: [unitId, periodType, periodStart, periodEnd]
      properties:
        unitId: { type: string, format: uuid }
        periodType: { $ref: '#/components/schemas/AccountingPeriodType' }
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }

    DutySchedule:
      allOf:
        - $ref: '#/components/schemas/CreateDutyScheduleRequest'
        - type: object
          required: [id, status]
          properties:
            id: { type: string, format: uuid }
            status: { $ref: '#/components/schemas/ScheduleStatus' }
            approvalOrderRef: { type: [string, 'null'] }

    CreatePlannedShiftRequest:
      type: object
      required: [employeeId, startTime, endTime, dutyType]
      properties:
        employeeId: { type: string, format: uuid }
        startTime: { type: string, format: date-time }
        endTime:
          type: string
          format: date-time
          description: "Должно быть строго позже startTime (бизнес-инвариант, проверяется на 422, не в JSON Schema)"
        dutyType: { $ref: '#/components/schemas/DutyType' }

    PlannedShift:
      allOf:
        - $ref: '#/components/schemas/CreatePlannedShiftRequest'
        - type: object
          required: [id, dutyScheduleId]
          properties:
            id: { type: string, format: uuid }
            dutyScheduleId: { type: string, format: uuid }

    ApproveScheduleRequest:
      type: object
      required: [approvalOrderRef]
      properties: { approvalOrderRef: { type: string, maxLength: 100 } }

    ReviseScheduleRequest:
      type: object
      required: [reason]
      properties: { reason: { type: string, maxLength: 1000 } }

    # ---------- TimeAccounting DTOs
    TimesheetStatus: { type: string, enum: [open, pending_approval, approved, reopened] }
    ServiceTimeEventType:
      type: string
      enum: [actual_shift, sickness, suspension, overtime_attraction, business_trip]

    CreateTimesheetRequest:
      type: object
      required: [employeeId, periodType, periodStart, periodEnd]
      properties:
        employeeId: { type: string, format: uuid }
        periodType: { $ref: '#/components/schemas/AccountingPeriodType' }
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }

    Timesheet:
      allOf:
        - $ref: '#/components/schemas/CreateTimesheetRequest'
        - type: object
          required: [id, status]
          properties:
            id: { type: string, format: uuid }
            status: { $ref: '#/components/schemas/TimesheetStatus' }

    ServiceTimeEventRequest:
      type: object
      required: [eventType, startTime, endTime]
      properties:
        eventType: { $ref: '#/components/schemas/ServiceTimeEventType' }
        startTime: { type: string, format: date-time }
        endTime: { type: string, format: date-time }
        plannedShiftId: { type: [string, 'null'], format: uuid }
        overtimeOrderId:
          type: [string, 'null']
          format: uuid
          description: "Обязателен, если eventType = overtime_attraction (проверяется на 422)"
        businessTripPlace: { type: [string, 'null'], maxLength: 300 }
      discriminator:
        propertyName: eventType

    ServiceTimeEvent:
      allOf:
        - $ref: '#/components/schemas/ServiceTimeEventRequest'
        - type: object
          required: [id, timesheetId]
          properties:
            id: { type: string, format: uuid }
            timesheetId: { type: string, format: uuid }

    CreateCorrectionEntryRequest:
      type: object
      required: [originalEventId, reason]
      properties:
        originalEventId: { type: string, format: uuid }
        reason: { type: string, minLength: 10, maxLength: 2000 }

    CorrectionEntry:
      allOf:
        - $ref: '#/components/schemas/CreateCorrectionEntryRequest'
        - type: object
          required: [id, timesheetId, createdAt, createdBy]
          properties:
            id: { type: string, format: uuid }
            timesheetId: { type: string, format: uuid }
            createdAt: { type: string, format: date-time }
            createdBy: { type: string, format: uuid }

    ReopenTimesheetRequest:
      type: object
      required: [reason]
      properties: { reason: { type: string, minLength: 10, maxLength: 2000 } }

    CreateOvertimeOrderRequest:
      type: object
      required: [orderNumber, issuedDate, reason]
      properties:
        orderNumber: { type: string, maxLength: 50 }
        issuedDate: { type: string, format: date }
        reason: { type: string, maxLength: 1000 }

    OvertimeOrder:
      allOf:
        - $ref: '#/components/schemas/CreateOvertimeOrderRequest'
        - type: object
          required: [id, issuedBy]
          properties:
            id: { type: string, format: uuid }
            issuedBy: { type: string, format: uuid }

    HoursBreakdown:
      type: object
      required: [timesheetId, employeeId, periodStart, periodEnd, normHours, actualHours]
      properties:
        timesheetId: { type: string, format: uuid }
        employeeId: { type: string, format: uuid }
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }
        normHours: { type: number }
        actualHours: { type: number }
        nightHours: { type: number }
        holidayHours: { type: number }
        overtimeHours: { type: number }
        underworkedHours: { type: number }
        computedFromRuleVersionId: { type: string, format: uuid }
        computedAt: { type: string, format: date-time }

    UnitTimesheetDashboard:
      type: object
      properties:
        unitId: { type: string, format: uuid }
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }
        totalEmployees: { type: integer }
        totalOvertimeHours: { type: number }
        totalUnderworkedHours: { type: number }
        pendingApprovalCount: { type: integer }

    # ---------- Compensation DTOs
    CompensationCaseStatus: { type: string, enum: [draft, finalized] }
    CompensationForm: { type: string, enum: [monetary, additional_rest_time] }

    CreateCompensationCaseRequest:
      type: object
      required: [employeeId, timesheetId]
      properties:
        employeeId: { type: string, format: uuid }
        timesheetId: { type: string, format: uuid }

    CompensationLine:
      type: object
      required: [id, ruleCategory, hoursAmount, compensationForm]
      properties:
        id: { type: string, format: uuid }
        ruleCategory: { $ref: '#/components/schemas/RuleCategory' }
        hoursAmount: { type: number, exclusiveMinimum: 0 }
        compensationForm: { $ref: '#/components/schemas/CompensationForm' }
        legalBasisRuleVersionId: { type: string, format: uuid }
        employeeElectionAt: { type: [string, 'null'], format: date-time }

    CompensationCase:
      allOf:
        - $ref: '#/components/schemas/CreateCompensationCaseRequest'
        - type: object
          required: [id, status, lines]
          properties:
            id: { type: string, format: uuid }
            status: { $ref: '#/components/schemas/CompensationCaseStatus' }
            lines: { type: array, items: { $ref: '#/components/schemas/CompensationLine' } }

    RecordEmployeeElectionRequest:
      type: object
      required: [ruleCategory, compensationForm]
      properties:
        ruleCategory: { $ref: '#/components/schemas/RuleCategory' }
        compensationForm: { $ref: '#/components/schemas/CompensationForm' }

    RegionalCompensationForecast:
      type: object
      properties:
        regionUnitId: { type: string, format: uuid }
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }
        forecastMonetaryHours: { type: number }
        forecastRestDays: { type: number }

    # ---------- RestBalance DTOs
    MovementType: { type: string, enum: [accrual, consumption] }

    RestBalance:
      type: object
      required: [employeeId, balanceDays]
      properties:
        employeeId: { type: string, format: uuid }
        balanceDays: { type: number }

    BalanceMovement:
      type: object
      required: [id, employeeId, movementType, amountDays, movementDate]
      properties:
        id: { type: string, format: uuid }
        employeeId: { type: string, format: uuid }
        movementType: { $ref: '#/components/schemas/MovementType' }
        amountDays: { type: number, exclusiveMinimum: 0 }
        movementDate: { type: string, format: date }
        compensationLineId: { type: [string, 'null'], format: uuid }
        leaveGrantId: { type: [string, 'null'], format: uuid }
        reversedByMovementId: { type: [string, 'null'], format: uuid }

    CreateConsumptionRequestRequest:
      type: object
      required: [amountDays, movementDate]
      properties:
        amountDays: { type: number, exclusiveMinimum: 0, maximum: 60 }
        movementDate: { type: string, format: date }

    # ---------- LeaveManagement DTOs
    LeaveType:
      type: string
      enum: [basic, additional, personal_circumstances_20y, maternity, child_care, educational]
    LeaveStatus: { type: string, enum: [active, recalled, completed, cancelled] }

    CreateLeaveGrantRequest:
      type: object
      required: [employeeId, leaveType, periodStart, periodEnd]
      properties:
        employeeId: { type: string, format: uuid }
        leaveType: { $ref: '#/components/schemas/LeaveType' }
        periodStart: { type: string, format: date }
        periodEnd: { type: string, format: date }

    LeaveGrant:
      allOf:
        - $ref: '#/components/schemas/CreateLeaveGrantRequest'
        - type: object
          required: [id, status]
          properties:
            id: { type: string, format: uuid }
            status: { $ref: '#/components/schemas/LeaveStatus' }
            entitlementBasisRuleVersionId: { type: string, format: uuid }

    RecallFromLeaveRequest:
      type: object
      required: [recallDate, effectiveFrom]
      properties:
        recallDate: { type: string, format: date }
        effectiveFrom: { type: string, format: date }

    RecallEvent:
      allOf:
        - $ref: '#/components/schemas/RecallFromLeaveRequest'
        - type: object
          required: [id, leaveGrantId]
          properties:
            id: { type: string, format: uuid }
            leaveGrantId: { type: string, format: uuid }
